.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about__data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about__img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

.about__discription {
    margin-bottom: 1rem;
    text-align: justify;
}

.about__skills {
    row-gap: 1.25rem;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

@media screen and (max-width: 1024px) {
    .about__container {
      grid-template-columns: 720px;
      justify-content: center;
      row-gap: 1.875rem;
    }

    .about__img {
        width: 50%;
        justify-self: center;
    }

    .about__data::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left: 49%;
        top: -20px;
    }
    

  }

  @media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 350px;
    }

    .about__data::before {
        left: 47%;
    }

    .about__data {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

  }

  @media screen and (max-width: 576px) {
    .about__container {
        grid-template-columns: 320px;
    }

  }

  @media screen and (max-width: 350px) {
    .about__container {
        grid-template-columns: 1fr;
    }

  }